element.style {
}
article, aside, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, main {
    display: block;
}

html {
  font-size: 62.5%;
  overflow: auto;
}

.main_visual {
  padding: 0;
}

.main_visual {
  text-align: center;
}

.main_width {
  width: 96%;
  max-width: 1260px;
  margin: auto;
}

header .top .right {
  width: 96%;
  max-width: 1260px;
}

.right {
  margin: 0 0 0 auto;
}

.header_nav {
  width: 100%;
  height: auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
}

blockquote, body, dd, div, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

div {
  display: block;
}


section {
  padding: 30px 0;
}

article, aside, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, main {
  display: block;
}

section {
  display: block;
}

body {
  margin: auto;
  width: auto;
  font-family: Hiragino Sans, "ヒラギノ角ゴシック", Hiragino Kaku Gothic ProN, "ヒラギノ角ゴ ProN W3", Roboto, "Droid Sans", YuGothic, "游ゴシック", Meiryo, "メイリオ", Verdana, "ＭＳ Ｐゴシック", sans-serif;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}