.red{
    color:red
}

.bg_color_change{
 width: 900px;
 height: 200px;
 background-color: red;
 text-align: center;
}

.big{
 font-size: 30px;
}

.box{
    width: 50px;
    height: 50px;
    margin: 20px;
    padding: 20px;
    background-color: blue;
}

.box1{
 width: 100px;
 height: 100px;
 background-color: blue;
}

.box2{
    width: 100px;
    height: 100px;
    background-color: red;
   }

.box3{
    width: 100px;
    height: 100px;
    background-color: green;
   }

.wrapper{
  display: flex;
}


/* 課題1 */
.testbox1{
    width: 100px;
    height: 100px;
    background-color: blue;
   }
   
.testbox2{
       width: 100px;
       height: 100px;
       background-color: red;
      }
   
.testbox3{
       width: 100px;
       height: 100px;
       background-color: green;
      }
.testbox4{
        width: 100px;
        height: 100px;
        background-color: green;
       }
.testbox5{
        width: 100px;
        height: 100px;
        background-color: blue;
       }
.testbox6{
        width: 100px;
        height: 100px;
        background-color: red;
       }

/* 課題2:ミス */
.flex{
       height: 250px;
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       align-items: baseline;
     }
     
.testbox7{
    width: 100px;
    height: 75px;
    background-color:blue;
      }
   
.testbox8{
       width: 100px;
       height: 75px;
       background-color:black;
      }

.testbox8-2{
       width: 100px;
       height: 25px;
       background-color:blue;
      }
      
.testbox8-3{
       width: 100px;
       height: 25px;
       background-color:green;
      }

.testbox8-4{
       width: 100px;
       height: 50px;
       background-color:yellow;
      }

.testbox9{
       width: 100px;
       height: 25px;
       background-color: red;
      }

.testbox10{
        width: 100px;
        height: 100px;
        background-color: red;
       }

.testbox11{
        width: 100px;
        height: 75px;
        background-color: blue;
       }

.testbox12{
        width: 100px;
        height: 100px;
        background-color: green;
       }
     
 /* 課題2-2 */
     .flex-row-container {
       display: flex;
     }
     
     .flex-column-container {
       display: flex;
       flex-direction: column;
     }
     
     .flex-item {
       background-color: 
     green;
       margin: 0px;
       padding: 50px;
     }

     .item1 {
       margin-top: 80px;
       width: 100px;
       height: 100px;
       background-color: blue;
     }

     .item2 {
       width: 100px;
       height: 100px;
       background-color: red;
     }

     .item3 {
       width: 100px;
       height: 35px;
       margin-top: 80px;
       background-color: black;
     }

     .item4 {
       width: 100px;
       height: 35px;
       background-color: green;
     }

     .item5 {
       width: 100px;
       height: 30px;
       background-color: blue;
     }

     .item6 {
       margin-top: 80px;
       width: 100px;
       height: 1px;
       background-color: red;
     }

     .item7 {
       width: 100px;
       height: 25px;
       background-color: yellow;
     }

     .item8 {
       width: 100px;
       height: 74px;
       background-color: green;
     }

 /* 課題3 */
 .flex-row-container2 {
       display: flex;
       flex-direction: column;
     }
     
     .flex-column-container2 {
       display: flex;
     }

     .flex-item2 {
       background-color: 
     green;
       padding: 10px;
     }

     .box1 {
       margin-top: 80px;
       width: 500px;
       height: 50px;
       background-color: blue;
     }

     .box2 {
       width: 400px;
       height: 200px;
       background-color: red;
     }

     .box3 {
       width: 80px;
       height: 200px;
       background-color: black;
     }

     .box4 {
       width: 500px;
       height: 50px;
       background-color: green;
     }
 


/* 課題4 */
     /* 親要素(コンテナ) */
 .flex-row-container3 {
       display: flex;
       flex-direction: column;
     }
     
     .flex-column-container3 {
       display: flex;
       width: 1000px;
       background-color: skyblue;
     }

     /* 子要素(アイテム) */
     .flex-item3 {
       background-color: blue;
       padding: 0px;
     }

     .testbox-1 {
       margin-top: 80px;
       width: 2000px;
       height: 300px;
       background-color: red;
     }

     .testbox-2 {
       display: flex;
       flex-wrap: wrap;
       width: 600px;
       height: 400px;
       background-color:#F9D64B;
     }

     .testbox-2-1 {
       margin: 80px 110px 10px 100px;
       width: 800px;
       height: 100px;
       background-color:skyblue;
     }

     .testbox-2-2 {
       margin: 1px 3px 1px 100px;
       width: 75px;
       height: 75px;
       background-color:skyblue;
     }

     .testbox-2-3 {
       margin: 1px 3px 1px 1px;
       width: 75px;
       height: 75px;
       background-color:skyblue;
     }

     .testbox-2-4 {
      margin: 1px 3px 1px 1px;
      width: 75px;
      height: 75px;
      background-color:skyblue;
    }

    .testbox-2-5 {
      margin: 1px 3px 1px 1px;
      width: 75px;
      height: 75px;
      background-color:skyblue;
    }

    .testbox-2-6 {
      margin: 1px 50px 1px 1px;
      width: 75px;
      height: 75px;
      background-color:skyblue;
    }

     .testbox-3 {
       width: 400px;
       height: 400px;
       background-color:#9BBF35;
     }

    .testbox-3-1 {
      margin: 50px 50px 50px 50px;
      width: 300px;
      height: 300px;
      background-color:skyblue;
    }

/* 課題5:レスポンシブ対応 */
  @media screen and (min-width:480px) {
      .sample1{
        width: 1000px;
        height: 300px;
        background-color:skyblue;
        display: none<span style="color: #ff6600;">!important</span>;
      }

      .sample2{
        text-align: center;
        width: 1000px;
        height: 300px;
        background-color:blue;
        display: none<span style="color: #ff6600;">!important</span>;
      }
    }

    @media screen and (max-width:479px) {
      .sample1{
        width: 500px;
        height: 300px;
        background-color:skyblue;
        display: none<span style="color: #ff6600;">!important</span>;
      }

      .sample2{
        text-align: center;
        width: 500px;
        height: 300px;
        background-color:blue;
        display: none<span style="color: #ff6600;">!important</span>;
      }
    }

